<link rel="stylesheet" href="/css/user.css">

<div class="container-fluid pt-3" style="margin-bottom: 500px;">

    <div class="row mb-2">
        <div class="input-group rounded col-10">
            <input id="text-search" oninput="handleSearchInput()" type="search" class="form-control rounded" placeholder="Tìm kiếm theo mã người dùng, tài khoản, email, tên hiển thị" aria-label="Search" aria-describedby="search-addon" />
        </div>

        <div class="dropdown col-2">
            <button type="button" class="btn btn-secondary w-100 py-1" data-toggle="dropdown">
                <i class="fa-duotone fa-arrow-up-arrow-down"></i> Sắp xếp
            </button>
            <div class="dropdown-menu">
                <a onclick="handleSortSelect(0)" class="dropdown-item" href="#" id="sort0"><i class="fa-duotone fa-shuffle"></i> Mặc định</a>
                <a onclick="handleSortSelect(1)" class="dropdown-item" href="#" id="sort1"><i class="fa-duotone fa-arrow-down-1-9"></i> Mã người dùng (1-9)</a>
                <a onclick="handleSortSelect(2)" class="dropdown-item" href="#" id="sort2"><i class="fa-duotone fa-arrow-up-9-1"></i> Mã người dùng (9-1)</a>
                <a onclick="handleSortSelect(3)" class="dropdown-item" href="#" id="sort3"><i class="fa-duotone fa-arrow-down-a-z"></i> Tài khoản (A-Z)</a>
                <a onclick="handleSortSelect(4)" class="dropdown-item" href="#" id="sort4"><i class="fa-duotone fa-arrow-down-a-z"></i> Tài khoản (Z-A)</a>
                <a onclick="handleSortSelect(5)" class="dropdown-item" href="#" id="sort5"><i class="fa-duotone fa-arrow-up-z-a"></i> Tên hiển thị (A-Z)</a>
                <a onclick="handleSortSelect(6)" class="dropdown-item" href="#" id="sort6"><i class="fa-duotone fa-arrow-up-z-a"></i> Tên hiển thị (Z-A)</a>             
            </div>
        </div>
    </div>

    <table class="table table-hover text-center">
        <thead>
            <tr id="inner-thead">
                <th style="width: 10%;">Avatar</th>
                <th style="width: 10%;">Mã Người Dùng</th>
                <th style="width: 15%;">Tài Khoản</th>
                <th style="width: 15%;">Email</th>
                <th style="width: 22%;">Tên Hiển Thị</th>
                <th style="width: 10%;">Trạng Thái</th>
                <th style="width: 18%;">Thao Tác</th>
            </tr>
        </thead>
        <tbody id="tbody">
            {{!-- Will be generated --}}
        </tbody>
    </table>    

    <div class="text-center">
        <button onclick="getPreviousPage()" class="btn btn-secondary" id="btn-previous-page"><i class="fa-duotone fa-left"></i></button>
        <span id="current-page" class="text-primary"></span>/<span id="total-page"></span>
        <button onclick="getNextPage()" class="btn btn-secondary" id="btn-next-page"><i class="fa-duotone fa-right"></i></button>
    </div>
</div>

{{!-- Modal confirm delete --}}
<div class="modal fade" id="modal2">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title m-auto">XÁC NHẬN</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal2-body">
                {{!-- Will be generated --}}
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button onclick="handleDelete()" type="button" class="btn btn-success" data-mdb-ripple-init data-mdb-dismiss="modal"><i class="fa-solid fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger" data-mdb-ripple-init data-mdb-dismiss="modal"><i class="fa-solid fa-thumbs-down"></i></button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal user detail --}}
<div class="modal fade" id="modal3">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title m-auto">NGƯỜI DÙNG (#<span id="detail-user-id">100000</span>)</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <img id="bg-user-image" src="">
                </div>
                <div class="text-center mt-2">
                    <img id="detail-user-image" src="">
                </div>
                <div class="mt-2">
                    <ul>
                        <li id="detail-user-username"></li>
                        <li id="detail-user-display-name"></li>
                        <li id="detail-user-email"></li>
                        <li id="detail-user-role"></li>
                        <li id="detail-user-self-introduction"></li>
                        <li id="detail-user-date-of-birth"></li>
                        <li id="detail-user-fav-genre-keywords"></li>
                        <li id="detail-user-account-balance"></li>
                    </ul>
                </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal stories of a user--}}
<div class="modal fade" id="modal4">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title m-auto">CÁC TÁC PHẨM ĐANG CÓ (#<span id="story-of-title"></span>)</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="modal4-body">
                <table class="table table-hover text-center">
                    <thead>
                        <tr id="inner-thead">
                            <th style="width: 18%;">Ảnh Bìa</th>
                            <th style="width: 5%;">Mã Tác Phẩm</th>
                            <th style="width: 25%;">Tên Tác Phẩm</th>
                            <th style="width: 19%;">Tác Giả</th>
                            <th style="width: 13%;">Nhà Xuất Bản</th>
                            <th style="width: 5%;">Số Chương</th>
                            <th style="width: 5%;">Người Đăng</td>
                            <th style="width: 5%;">Ngày Đăng</th>
                            <th style="width: 5%;">Trạng Thái</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-story-of">
                        {{!-- Will be generated --}}
                    </tbody>
                </table>    
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">ĐÓNG</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/user.js"></script>
<script src="/js/main.js"></script>